{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "plugins": ["@babel/plugin-syntax-import-assertions"]
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  }
}
